Bnak_Application/WebContent/wsdl/Serve_Class.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://pack.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://pack.com" xmlns:intf="http://pack.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://pack.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="service">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="serviceResponse">
    <complexType>
     <sequence>
      <element name="serviceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="serviceRequest">

      <wsdl:part element="impl:service" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="serviceResponse">

      <wsdl:part element="impl:serviceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Serve_Class">

      <wsdl:operation name="service">

         <wsdl:input message="impl:serviceRequest" name="serviceRequest">

       </wsdl:input>

         <wsdl:output message="impl:serviceResponse" name="serviceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Serve_ClassSoapBinding" type="impl:Serve_Class">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="service">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="serviceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="serviceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Serve_ClassService">

      <wsdl:port binding="impl:Serve_ClassSoapBinding" name="Serve_Class">

         <wsdlsoap:address location="http://localhost:8080/Bnak_Application/services/Serve_Class"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
